@model Tuple<string,List<Notification>>
@{
    ViewData["Title"] = "Notifications";
}

<link rel="stylesheet" href="~/css/notifications.css" />

<div class="notifications-page-content">
    <div class="notifications-wrapper">
        <div class="my-notification-stripe">
            Notifications
        </div>
        <!--For notifications-->
        <input type="hidden" id="userId" value="@Model.Item1" />
        <input type="hidden" id="signalRConnectionId" />
        <!--For notifications-->
        <div id="notificationList" class="my-notifications-list">
            @foreach (var notif in Model.Item2)
            {
                var controller = "";
                if (notif.NotificationType == NotificationType.CHAT)
                {
                    controller = "Chats";
                }
                else if (notif.NotificationType == NotificationType.QUESTION)
                {
                    controller = "Question";
                }
                <a class="my-notification-single" asp-controller="@controller" asp-action="Details" asp-route-id="@notif.PostId">
                    @if (notif.NotificationType == NotificationType.CHAT)
                    {
                        <img width="50" height="50" src="~/images/chat-svgrepo-com.svg" />
                    }
                    else
                    {
                        <img width="50" height="50" src="~/images/question-mark.svg" />
                    }
                    <p>@notif.Message</p>
                    <img width="30" height="30" src="~/images/notification.svg" />
                </a>
            }
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>