@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<OOAD_Projekat.Models.Question>

<link href="~/css/questions.css" rel="stylesheet" type="text/css" />
<div class="questions-page-content">

    <div class="my-buttons">
        <div class="my-filter-buttons">
            <a class="my-button my-active-button" asp-controller="Question" asp-action="Index">New</a>
            <a class="my-button" asp-controller="Question" asp-action="Popular">Popular</a>
            <a class="my-button" asp-controller="Question" asp-action="Unanswered">Unanswered</a>
            <a class="my-button" asp-controller="Question" asp-action="Recommended">Recommended</a>
        </div>
        <div class="my-question-adder-buttons">
            <a asp-controller="Question" asp-action="Create" class="my-button">Add Question</a>
        </div>
    </div>
    <div class="my-questions">
        @foreach (var question in Model)
        {
        <div class="question-card">
            <div class="question-rating">
                <span class="upvotes">Dummy</span>
                <span class="downvotes">Dummy</span>
            </div>
            <div class="question-content">
                <span class="question-title">@question.Title</span>
                <span class="question-text">
                    @question.Content
                </span>
            </div>
            <div class="question-options">
                <div class="my-dropdown">
                    <i class="fa fa-cog my-button no-border"
                       aria-hidden="true"></i>
                    <div class="my-dropdown-content">
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
                <a href="#">
                    <i class="fa fa-user my-button no-border"
                       aria-hidden="true"></i>
                </a>
            </div>
        </div>
        }
    </div>
</div>