@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<OOAD_Projekat.Models.Question>
@{
    ViewData["Title"] = "Questions";
}
<link href="~/css/questions.css" rel="stylesheet" type="text/css" />
<div class="questions-page-content">

    <div class="my-buttons">
        @* my-active-button*@

        @{
            <div class="my-filter-buttons">
                @if (!Url.Action().Contains("MyQuestions"))
                {
                    <a class="my-button" asp-controller="Question" asp-action="Index">New</a>
                    <a class="my-button" asp-controller="Question" asp-action="Popular">Popular</a>
                    <a class="my-button" asp-controller="Question" asp-action="Unanswered">Unanswered</a>
                    <a class="my-button" asp-controller="Question" asp-action="Recommended">Recommended</a>
                }
                else
                {
                    <a class="my-button my-active-button" asp-controller="Question" asp-action="MyQuestions">My Questions</a>
                }
            </div>
        }

        <div class="my-question-adder-buttons">
            <a asp-controller="Question" asp-action="Create" class="my-button">Add Question</a>
        </div>
    </div>
    <div class="my-questions">
        @foreach (var question in Model)
        {
            <div class="question-card" onclick="location.replace('@Url.Action("Details","Question", new { id = question.Id })')">
                <div class="question-rating">
                    <span class="upvotes">0</span>
                    <span class="downvotes">0</span>
                </div>
                <div class="question-content">
                    <span class="question-title">@question.Title</span>
                    <span class="question-text">
                        @question.Content
                    </span>
                </div>
                <div class="question-options">
                    <div class="my-dropdown">
                        <i class="fa fa-cog my-button no-border"
                           aria-hidden="true"></i>
                        <div class="my-dropdown-content">
                            <a asp-controller="Question" asp-action="Edit" asp-route-id="@question.Id">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-user my-button no-border"
                           aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>