@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/css/tagList.css" rel="stylesheet" type="text/css" />
<div class="tag-page-content">
    <div class="page-info">
        <h1>Tags</h1>
        <p>
            A tag is a keyword or label that categorizes your question with
            other, similar questions. Using the right tags makes it easier for
            others to find and answer your question.
        </p>
    </div>
    <div class="tag-search">
        <div class="input-group">
            <input class="form-control py-3 border-right-0 border"
                   type="search"
                   placeholder="Filter tags"
                   id="search-input" />
            <span class="input-group-prepend">
                <div class="input-group-text bg-transparent">
                    <i class="fa fa-search"></i>
                </div>
            </span>
        </div>
    </div>
    <div class="tag-cards">
        <div class="tag-card">
            <span class="tag-card-heading">Lorem.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem, ipsum.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem, ipsum dolor.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem ipsum dolor sit.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem ipsum dolor sit amet.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem ipsum dolor sit amet consectetur.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem ipsum dolor sit amet consectetur adipisicing.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Earum?
            </span>
        </div>
        <div class="tag-card">
            <span class="tag-card-heading">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quaerat, inventore.
            </span>
        </div>
    </div>
</div>
