@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/about.css" rel="stylesheet" type="text/css" />
<div class="about-page-content">
    <div class="about-us-text">
        <h1>Who we are?</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur deserunt saepe nostrum in sequi sed doloribus unde
            quibusdam fugit enim optio, rerum voluptatem eius ipsum voluptas
            dolor sint expedita perferendis quos quis minima numquam ducimus
            pariatur! Animi, repellat! Commodi, deleniti. Error qui eligendi
            ut a? Laudantium quod corrupti molestiae maxime ratione.
            Necessitatibus deserunt praesentium nam maxime ea obcaecati vero
            doloribus odio repellat? Pariatur neque nihil dolores suscipit
            ipsum quisquam illum? Fugit, repudiandae laboriosam quia unde
            accusantium aliquam rerum cum delectus fuga ullam, expedita magnam
            cupiditate similique officia ut, ea omnis dignissimos voluptatibus
            magni reiciendis praesentium dolores. Natus sint excepturi optio?
            Reprehenderit ea eligendi sed harum repellat deleniti vitae
            inventore natus, vel dolorum eius doloremque magni officia, quas
            dignissimos facilis obcaecati tempore officiis commodi? At
            repellendus, laboriosam natus molestias ipsam ratione velit odit
            adipisci saepe facere doloribus laborum tempora necessitatibus
            deleniti veritatis, similique minus iusto esse quia aliquam ex
            labore corrupti.
        </p>
    </div>
    <div class="about-us-team">
        <h2>Leadership Team</h2>
        <div class="about-us-team-cards">
            <div class="my-card">
                <div class="my-card-inner">
                    <div class="my-card-front">
                        <img src="~/images/admir.jpg"
                             alt=""
                             srcset="" />
                        <span class="my-card-name">Admir Ihtijarević</span>
                    </div>
                    <div class="my-card-back">
                        <div class="my-card-visit-icons">
                            <a href="https://github.com/Admir-Walker" target="_blank">
                                <i class="fa fa-github my-card-visit-icon"></i>
                            </a>
                            <a href="https://www.facebook.com/iWalkeRR/"
                               target="_blank">
                                <i class="fa fa-facebook-square my-card-visit-icon"></i>
                            </a>
                            <a href="https://www.instagram.com/admir.walker/"
                               target="_blank">
                                <i class="fa fa-instagram my-card-visit-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-card">
                <div class="my-card-inner">
                    <div class="my-card-front">
                        <img src="~/images/amira.jpg"
                             alt=""
                             srcset="" />
                        <span class="my-card-name">Amira Kunalić</span>
                    </div>
                    <div class="my-card-back">
                        <div class="my-card-visit-icons">
                            <a href="https://github.com/akunalic1" target="_blank">
                                <i class="fa fa-github my-card-visit-icon"></i>
                            </a>
                            <a href="https://www.facebook.com/amira.kunalic"
                               target="_blank">
                                <i class="fa fa-facebook-square my-card-visit-icon"></i>
                            </a>
                            <a href="https://www.instagram.com/akunalic1/"
                               target="_blank">
                                <i class="fa fa-instagram my-card-visit-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-card">
                <div class="my-card-inner">
                    <div class="my-card-front">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Oryctolagus_cuniculus_Rcdo.jpg/1200px-Oryctolagus_cuniculus_Rcdo.jpg"
                             alt=""
                             srcset="" />
                        <span class="my-card-name">Amar Begovac</span>
                    </div>
                    <div class="my-card-back">
                        <div class="my-card-visit-icons">
                            <a href="https://github.com/abegovac2" target="_blank">
                                <i class="fa fa-github my-card-visit-icon"></i>
                            </a>
                            <a href="https://www.facebook.com/amar.begovac"
                               target="_blank">
                                <i class="fa fa-facebook-square my-card-visit-icon"></i>
                            </a>
                            <a href="https://www.instagram.com/amarbegovac/"
                               target="_blank">
                                <i class="fa fa-instagram my-card-visit-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-site-data">
        <div class="my-card-data">
            <h6>Registered Users</h6>
            <p>4323</p>
        </div>
        <div class="my-card-data">
            <h6>Questions Asked</h6>
            <p>67098</p>
        </div>
        <div class="my-card-data">
            <h6>Questions Answered</h6>
            <p>56432</p>
        </div>
    </div>
</div>